<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化运维平台</title>
</head>
<body>

<p style="background-color:yellow;">用户列表</p>
<!--<h1>Hello world</h1>-->
<!--<ul>-->
<!--    <l1>1</l1>-->
<!--    <l2>2</l2>-->
<!--</ul>-->

<table border="1">
<thead>
    <tr>
        <th>用户名</th>
        <th>年龄</th>
        <th>姓名</th>
    </tr>
</thead>
<tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.name_cn }}</td>
        <td>{{ user.age }}</td>
    </tr>
    {% endfor %}
<!--    <tr>-->
<!--        <td>kk</td>-->
<!--        <td>20</td>-->
<!--        <td>ss</td>-->
<!--    </tr>-->
</tbody>
</table>

{% if messages|length >= 1 %}
<p>You have lots of messages today!</p>
{% else %}
<p>You have not messages today!</p>
{% endif %}

</body>
</html>