<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 继承⺟母版不不变的部分 -->
{% extends "base.html" %}
<!-- 重写⺟母版变的部分-->
{% block title %} ⽤用户的列列表 {% endblock %}
<!-- 重写⺟母版变的部分-->
{% block content %}
<table border="1">
<thead>
<tr>
<th>⽤用户名</th>
<th>姓名</th>
<th>年年龄</th>
</tr>
</thead>
<tbody>
{% for user in users %}
<tr>
<td>{{ user.username }}</td>
<td>{{ user.name_cn }}</td>
<td>{{ user.age }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
</body>
</html>